<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<log4net>
		<appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<!--param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" /-->
				<param name="ConversionPattern" value="-%m%n"/>
			</layout>
		</appender>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="logfile.txt"/>
			<appendToFile value="false"/>
			<layout type="log4net.Layout.PatternLayout">
				<!--conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" /-->
				<param name="ConversionPattern" value="-%m%n"/>
			</layout>
		</appender>

		<!-- Setup the root category, add the appenders and set the default priority -->
		<root>
			<level value="ALL"/>
			<appender-ref ref="console"/>
			<appender-ref ref="FileAppender"/>
		</root>
	</log4net>
	<appSettings>
		<!-- data source=RIS-MIRELLE;initial catalog=fctool;user id=sa;password=sa2005;persist security info=False;packet size=4096 -->
		<add key="Main.ConnectionString" value="data source=(local);initial catalog=fctool;integrated security=SSPI;persist security info=False;packet size=4096"/>
		<add key="FCTool.DetectorPath" value="..\\..\\..\\MPEGDetector\\bin\\debug"/>
	</appSettings>
	<connectionStrings>
		<add name="Local" connectionString="data source=(local);initial catalog=fctool;integrated security=SSPI;persist security info=False;packet size=4096"/>
		<add name="Timpetee" connectionString="data source=TIMPETEE;initial catalog=fctool;integrated security=SSPI;persist security info=False;packet size=4096"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
